################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1/obj/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceInterface/obj/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceModel/obj/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.Tests/obj/Debug
/packages
*.user
/.vs
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1/bin/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceInterface/bin/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceModel/bin/Debug
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.Tests/bin/Debug
/Business/NVL9.Business/bin
/Business/NVL9.Business/obj/Debug
/Business/NVL9.Business/obj
/DataAccess/NVL9.DataAccess/bin/Release
/DataAccess/NVL9.DataAccess/obj/Release
/Framework/NVL9/bin
/Framework/NVL9/obj
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.Tests/obj
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.Tests/bin/Release
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceModel/bin/Release
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceModel/obj
/Framework/NVL9.Models/bin
/Framework/NVL9.Models/obj
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1/bin/Release
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1/obj
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceInterface/bin/Release
/NVL9.Samples.SSApiTest1/NVL9.Samples.SSApiTest1.ServiceInterface/obj
