<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <add name="core" connectionString="user id=scsqltst;password=$Ye)9DnK#KEw;Data Source=txv-intsqlts01.pdstest.ihc.com;Database=SHOrgTestSitecore_Core"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="user id=scsqltst;password=$Ye)9DnK#KEw;Data Source=txv-intsqlts01.pdstest.ihc.com;Database=SHOrgTestSitecore_Master"
       xdt:Transform="Insert"/>
  <add name="web" connectionString="user id=scsqltst;password=$Ye)9DnK#KEw;Data Source=txv-intsqlts01.pdstest.ihc.com;Database=SHOrgTestSitecore_Web"
       xdt:Transform="Insert"/>
  
  <add name="analytics" connectionString="mongodb://lpv-intmgdbdev01.co.ihc.com:27017/analytics"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="tracking.live" connectionString="mongodb://lpv-intmgdbdev01.co.ihc.com:27017/tracking_live"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="tracking.contact" connectionString="mongodb://lpv-intmgdbdev01.co.ihc.com:27017/tracking_contact"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  
  <add name="Users" connectionString="LDAP://pdstest.ihc.com/DC=pdstest,DC=ihc,DC=com"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>