<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="" />
  <add name="analytics" connectionString=""/>
  <add name="tracking.live" connectionString=""/>
  <add name="tracking.contact" connectionString=""/>
  <add name="Users" connectionString="" />
</connectionStrings>