<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->

<sitecore xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sc.variable name="dataFolder" value="C:\inetpub\wwwroot\SHSitecoreRelease\Data\"
               xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <settings>
    <setting name="Counters.Enabled" value="false"
             xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <setting name="ContentEditor.CheckHasChildrenOnTreeNodes" value="false"
             xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <setting name="LicenseFile" value="C:\inetpub\wwwroot\SHSitecoreDev\Data\license.xml"
             xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </settings>

  <hooks>
    <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel"
          xdt:Transform="Remove"></hook>
    <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel"
          xdt:Transform="Remove"></hook>
  </hooks>
  <sites>
    <site name="shell" virtualFolder="/sitecore/shell" physicalFolder="/sitecore/shell" rootPath="/sitecore/content" startItem="/home" language="en" database="core" domain="sitecore" loginPage="/sitecore/login" content="master" contentStartItem="/Home" enableWorkflow="true" enableTracking="false" analyticsDefinitions="content" xmlControlPage="/sitecore/shell/default.aspx" browserTitle="Sitecore" htmlCacheSize="10MB" registryCacheSize="15MB" viewStateCacheSize="1MB" xslCacheSize="25MB" disableBrowserCaching="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <site name="modules_shell" virtualFolder="/sitecore modules/shell" physicalFolder="/sitecore modules/shell" rootPath="/sitecore/content" startItem="/home" language="en" database="core" domain="sitecore" content="master" enableTracking="false" enableWorkflow="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </sites>
  <LinkDatabase>
    <param connectionStringName="core"
           xdt:Transform="Replace" xdt:Locator="Match(connectionStringName)"/>
  </LinkDatabase>
  <IDTable>
    <param connectionStringName="master"
           xdt:Transform="Replace" xdt:Locator="Match(connectionStringName)"/>
  </IDTable>
  <search>
    <configuration>
      <indexes>
        <index>
          <locations>
            <master type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel"
                    xdt:Transform="Insert">
              <Database>master</Database>
              <Tags>master content</Tags>
            </master>
          </locations>
        </index>
      </indexes>
    </configuration>
  </search>
  <scheduling>
    <!-- Agent to publish database periodically -->
    <agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:00:00"
           xdt:Transform="Insert">
      <param desc="source database">master</param>
      <param desc="target database">web</param>
      <param desc="mode (full or smart or incremental)">incremental</param>
      <param desc="languages">en, da</param>
    </agent>
  </scheduling>
</sitecore>