<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<sitecore xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sc.variable name="dataFolder" value="D:\Instances\SHOrgTest\Data\"
               xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <settings>
    <setting name="Counters.Enabled" value="true"
             xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <setting name="ContentEditor.CheckHasChildrenOnTreeNodes" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <setting name="LicenseFile" value="D:\Instances\IHCOrgTest\Data\license.xml"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </settings>
  <sites>
    <site name="shell" virtualFolder="/sitecore/shell" physicalFolder="/sitecore/shell" rootPath="/sitecore/content" startItem="/home" language="en" database="core" domain="sitecore" loginPage="/sitecore/login" content="master" contentStartItem="/Home" enableWorkflow="true" enableTracking="false" analyticsDefinitions="content" xmlControlPage="/sitecore/shell/default.aspx" browserTitle="Sitecore" htmlCacheSize="10MB" registryCacheSize="15MB" viewStateCacheSize="1MB" xslCacheSize="25MB" disableBrowserCaching="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <site name="modules_shell" virtualFolder="/sitecore modules/shell" physicalFolder="/sitecore modules/shell" rootPath="/sitecore/content" startItem="/home" language="en" database="core" domain="sitecore" content="master" enableTracking="false" enableWorkflow="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </sites>
  <LinkDatabase>
    <param connectionStringName="web"
           xdt:Transform="Replace" xdt:Locator="Match(connectionStringName)"/>
  </LinkDatabase>
  <IDTable>
    <param connectionStringName="web"
           xdt:Transform="Replace" xdt:Locator="Match(connectionStringName)"/>
  </IDTable>
</sitecore>